.modal__background {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #00000060;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__container {
    width: max-content;
    height: max-content;
    background-color: #96BADC;
    border: 1px solid #1e252c;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.modal__container-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.modal__container-header h2 {
    margin: 0;
}

